@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #1e1e1e; /* dark background */
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}
